name: CI-CD Pipeline
on:
  push:
    branches: [main]

    jobs:
      deploy_code:
         name: Deploy_code
         runs-on: ubuntu-latest
         steps:
           - name: Checkout the code
             uses: actions/checkout@v3

           - name: Set up Node.js version 
             uses: actions/setup-node@v3
             with:
               node-version: '18.17.1'

           - name: Install packages
             run: npm install

           - name: Deploy to aws Server
             uses: easingthemes/ssh-deploy@v2.1.5
             with:
               SSH_PRIVATE_KEY: ${{SSH_KEY}}
               SOURCE: "./"
               REMOTE_HOST: ec2-3-7-253-198.ap-south-1.compute.amazonaws.com
               REMOTE_USER: "ubuntu"
               target: "/var/www/express-node"
